.card-container {
    background-color:#F0F8FF;
    margin-top:20px;
    width:100%;
    display:flex;
    border-radius:5px;
    -webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
}

.card-container:last-child {
    margin-bottom:20px;
}

.main {
    background-color:#FFEFD5;
}

.card-container img {
    width:30%;
}

.card-container h3 {
    font-style:italic;
    color:slategray;
}

.information {
    padding:20px;
}

.information > * {
    margin-bottom:10px;
}